[Desktop Entry]
Encoding=UTF-8
Name=Link to STatistical Inference Relief (STIR) feature selection | Bioinformatics | Oxford Academic
Type=Link
URL=https://academic.oup.com/bioinformatics/article/35/8/1358/5100883
Icon=text-html
