[Desktop Entry]
Encoding=UTF-8
Name=Link to Spatially Uniform ReliefF (SURF) for computationally-efficient filtering of gene-gene interactions
Type=Link
URL=https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2761303/
Icon=text-html
