[Desktop Entry]
Encoding=UTF-8
Name=Link to Comparison of Manifold Learning methods — scikit-learn 0.20.3 documentation
Type=Link
URL=https://scikit-learn.org/stable/auto_examples/manifold/plot_compare_methods.html#sphx-glr-auto-examples-manifold-plot-compare-methods-py
Icon=text-html
