[Desktop Entry]
Encoding=UTF-8
Name=Link to metric-learn: Metric Learning in Python — metric-learn 0.4.0 documentation
Type=Link
URL=http://metric-learn.github.io/metric-learn/
Icon=text-html
