[Desktop Entry]
Encoding=UTF-8
Name=Link to Evaporative cooling feature selection for genotypic data involving interactions
Type=Link
URL=https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3988427/
Icon=text-html
