[Desktop Entry]
Encoding=UTF-8
Name=Link to Quick tutorial on Sklearn's Pipeline constructor for machine learning
Type=Link
URL=https://gist.github.com/amberjrivera/8c5c145516f5a2e894681e16a8095b5c
Icon=text-html
