[Desktop Entry]
Encoding=UTF-8
Name=Link to Application of a spatially-weighted Relief algorithm for ranking genetic predictors of disease
Type=Link
URL=https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3554553/
Icon=text-html
