[Desktop Entry]
Encoding=UTF-8
Name=Link to ReliefSeq: A Gene-Wise Adaptive-K Nearest-Neighbor Feature Selection Tool for Finding Gene-Gene Interactions and Main Effects in mRNA-Seq Gene Expression Data
Type=Link
URL=https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0081527
Icon=text-html
